<html>

<head>
  <title>Spielplan</title>
</head>

<body>

  <!--
    <label for="title">Spielplan</label>
    <br>
    <input type="text" name="title" placeholder="Message title" value="{{ request.form['title'] }}"></input>
    <br>
  -->
  <form method="post">

    <table id="data" class="table">
      <thead>
        <tr>
          <th>Uhrzeit</th>
          <th>Runde</th>
          <th>Team 1</th>
          <th colspan="2">Ergebnis</th>
          <th>Team 2</th>
          <th>Schiedsrichter</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for match in schedule.matches %}
        <tr>
          <label for="{{ match }}"></label>
          <td> <input type="text" name="{{ (match.id, 'time') }}"
              placeholder="{{ match.time.strftime('%d %H:%M') }}"></input></td>
          <td> <input type="text" name="{{ (match.id, 'round') }}" placeholder="{{ match.round }}"></input></td>
          <td> <input type="text" name="{{ (match.id, 'home') }}" placeholder="{{ match.home }}"></input></td>
          <td> <input type="text" name="{{ (match.id, 'goals') }}" placeholder="{{ match.goals }}"></input></td>
          <td> <input type="text" name="{{ (match.id, 'goals_against') }}"
              placeholder="{{ match.goals_against }}"></input></td>
          <td> <input type="text" name="{{ (match.id, 'guest') }}" placeholder="{{ match.guest }}"></input></td>
          <td> <input type="text" name="{{ (match.id, 'referee') }}" placeholder="{{ match.referee }}"></input></td>
          <td>
            <button style="background-color: red;" type="button"
              onclick="var result = confirm('Spiel sicher löschen?');if (result) {var xhr = new XMLHttpRequest(); xhr.open('delete', 'admin/match/{{ match.id }}', false); xhr.send(null);location.reload();}">
              Löschen</button>
          </td>
        </tr>
        {% endfor %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button"
            onclick="var xhr = new XMLHttpRequest(); xhr.open('post', 'admin/match', false); xhr.send(null);location.reload();">
            Neues Spiel</button></td>
      </tbody>
    </table>

    <button type="submit">Speichern</button>
  </form>
</body>

</html>