<html>

<head>
  <title>Spielplan</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <script>
    window.setInterval(() => {
      location.reload();
    }, 30000);
  </script>
</head>

<body>

  {% if schedule.announcement != "" %}
  <label>Ankündigungen</label>
  <div class="announcement">
    {{ schedule.announcement }}
  </div>
  {% endif %}

  {% if schedule.calculate_final_table() %}
  <label>Endergebnis</label>
  <table id="data" class="table fl-table">
    <thead>
      <tr>
        <th>Platz</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      {% for placement, team in schedule.calculate_final_table() %}
      <tr>
        <td>{{ placement }}</td>
        <td>{{ team }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


  <!--
  <img class="logo" src="{{ url_for('static', filename='bg.jpeg') }}">
  -->
  <label>Spielplan</label>

  <table id="data" class="table fl-table">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Uhrzeit</th>
        <th>Runde</th>
        <th>Team 1</th>
        <th colspan="2">Ergebnis</th>
        <th>Team 2</th>
        <th>Schiedsrichter</th>
      </tr>
    </thead>
    <tbody>
      {% for match in schedule.matches %}
      <tr>
        <td>{{ match.time.strftime('%d') }}</td>
        <td>{{ match.time.strftime('%H:%M') }}</td>
        <td>{% if match.placement == None %} {{ match.round }} {% else %} Spiel um Platz {{ match.placement }} {% endif %}</td>
        <td>{{ match.home }}</td>
        {% if match.goals == None %}
        <td></td>
        <td></td>
        {% else %}
        <td>{{ match.goals }}</td>
        <td>{{ match.goals_against }}</td>
        {% endif %}
        <td>{{ match.guest }}</td>
        <td>{{ match.referee }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <label>Tabelle</label>
  <table id="data" class="table fl-table">
    <thead>
      <tr>
        <th>Platz</th>
        <th>Team</th>
        <th>Spiele</th>
        <th>Siege</th>
        <th>Unents.</th>
        <th>Niederl.</th>
        <th>Tore+</th>
        <th>Tore-</th>
        <th>Tordiff</th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tbody>
      {% for team in schedule.calculate_table() %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.games }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.loses }}</td>
        <td>{{ team.goals }}</td>
        <td>{{ team.goals_against }}</td>
        <td>{{ team.goal_difference }}</td>
        <td>{{ team.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if schedule.more_rounds() %}
  <label>Spielplan-Prognose</label>
  <table id="data" class="table fl-table">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Uhrzeit</th>
        <th>Runde</th>
        <th>Team 1</th>
        <th colspan="2">Ergebnis</th>
        <th>Team 2</th>
        <th>Schiedsrichter</th>
      </tr>
    </thead>
    <tbody>
      {% for match in schedule.predict_matches() %}
      <tr>
        <td>{{ match.time.strftime('%d') }}</td>
        <td>{{ match.time.strftime('%H:%M') }}</td>
        <td>{% if match.placement == None %} {{ match.round }} {% else %} Spiel um Platz {{ match.placement }} {% endif %}</td>
        <td>{{ match.home }}</td>
        <td></td>
        <td></td>
        <td>{{ match.guest }}</td>
        <td>{{ match.referee }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  
  <label>Turnierverlauf</label>
  <img class="plot" src="/plot.png">
</body>

</html>